<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
<!--    <link rel="stylesheet" href="styles.css">-->
       <link rel="stylesheet" href="./bootstrap.min.css">
    <title>Using $http Service</title>
      <style>
      
      
.form-control{
    margin-bottom: 12px;
    width: 25%;
    display: -webkit-inline-box;
}
          h1{
              
               text-align: center;
          }
      </style>
          
             
  </head>
    
  <body>
   

    <div class="container" ng-controller='NarrowItDownController as menu'>
         <h1>Assignment-3</h1>
      <h3>List of Menu Categories</h3>
<!--
          <input type="text" ng-model="menu.items" placeholder="Find"> 
          <button  ng-click="menu.found(menu.items)" >Narrow It Down For Me!</button>
      <ul >
        <li ng-repeat="category in menu.founditems">
          (<a href="" >{{ category.short_name }}</a>)
          {{ category.name }} - <span>{{category.description}}</span>
             <button ng-click="menu.onRemove($index);" >Don't want this one!</button>
        </li>
      </ul>
-->
          <input type="text" class="form-control" ng-model="menu.items" placeholder="Find"> 
          <button class="btn" ng-click="menu.found(menu.items)" >Narrow It Down For Me!</button>
        <table class="table">
    <thead>
        <tr ng-if= "!menu.noheadings">
            <th>Shortname</th>
            <th>Name</th>
            <th>Description</th>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in menu.founditems">
            <td>(<a href="" >{{ category.short_name }}</a>)</td>
            <td> {{ category.name }}</td>
            <td>{{category.description}}</td>
            <td><button class="btn btn-danger" ng-click="menu.onRemove($index);" >Don't want this one!</button></td>
        </tr>
        
    </tbody>
</table>
        <div ng-if="menu.noitem">Nothing found</div>
    </div>

  </body>
</html>
