<h1>My Info Page</h1>
<div class="myinfopage">
<div  ng-if="info.available">
<div>
<span>First Name :</span> <span> {{info.user.firstname}}</span>   
</div>
    <div>
<span>Last Name :</span>  <span> {{info.user.lastname}}</span> 
</div>
    <div>
<span>Email :</span>     <span> {{info.user.email}}</span> 
</div>
    <div>
<span>Phone :</span>     <span> {{info.user.phone}}</span> 
</div>
<div>
<div>Favourite : <span> {{info.user.data.name}}</span> </div>   
 <div class="menu-item-photo">
        <div>{{info.user.data.short_name}}</div>        <img class="img-responsive" width="250" height="150" ng-src="{{info.apipath}}/images/{{info.user.data.short_name}}.jpg" alt="{{info.user.data.name}}">
               
           
</div>
             <div style=" display: inline-block;position: absolute;">
                <h3>Decription</h3>
                     <span style="font-size: 17px;">{{info.user.data.description}}</span>
                </div>
            
</div>






</div>
<div ng-if="!info.available">Not Signed Up Yet.<a  ui-sref="public.signup">Sign up Now!</a></div>
</div>